/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 17px;
  margin: 8px;
  background-color: #ffffff;
  height: 300px;
  flex: 1 0 300px;
  cursor: pointer;
}

.list-container {
  background: #cccccc5b;
  width: 100%;
  max-width: 100% !important;
  padding: 1% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.product-Title {
  justify-content: center;
  display: flex;
  font-family: raleway-bold;
  color: #424242;
}

.cursor {
  cursor: pointer;
}

.height2 {
  height: 200px;
}

.cart-btn:active {
  height: 40px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(236, 9, 235, 1) 0%,
    rgba(154, 154, 232, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 0;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
}
.cart-btn {
  height: 40px;
  width: 100%;
  background: #5cb6e1;
  border: 0;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
}
